<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="猫の写真を並べたページです。猫、ねこ、ネコに関する写真など">
    <title>Photos</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/photos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/ponjun-logo.png">
  </head>

  <body>
    <!-- header begin -->
    <header>
      <div class="header_content wrapper">
        <h1><a href="index.html"><img class="header_logo" src="../images/ponjun-logo.png" alt="PonJun"></a></h1>
        <nav>
          <ul>
            <li class="current"><a href="index.html">ぽんずん家（Home)</a></li>
            <li><a href="#">愛され続けて２年</a></li>
            <li><a href="photos.html">Photos</a></li>
            <li><a href="movies.html">Movies</a></li>
            <li><a href="cat-language.html">猫の方へ</a></li>
            <li><a href="membership.html">会員登録</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- header end -->
    <!-- wrapper grid begin -->
    <div class="wrapper grid">
      <div class="item">
        <img src="../images/pon3.jpeg" alt="写真3">
        <p>寝るの邪魔されて機嫌悪い時のお顔</p>
      </div>
      <div class="item">
        <img src="../images/pon4.jpeg" alt="写真4">
        <p>人見知りしてるぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon9.jpeg" alt="写真9">
        <p>お昼寝</p>
      </div>
      <div class="item">
        <img src="../images/pon13.PNG" alt="写真13">
        <p>やる気ゼロ</p>
      </div>
      <div class="item">
        <img src="../images/pon18.JPG" alt="写真18">
        <p>生後1ヶ月で海に連れて行かれるぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon17.PNG" alt="写真17">
        <p>海とのショット</p>
      </div>
      <div class="item">
        <img src="../images/pon7.jpeg" alt="写真7">
        <p>引っ越しについてこようとするぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon8.jpeg" alt="写真8">
        <p>拗ねてるぽんちゃん</p>
      </div>
      <div class="item">
        <img src="../images/pon1.JPG" alt="写真1">
        <p>初めて家に連れて帰った時</p>
      </div>
      <div class="item">
        <img src="../images/pon10.jpeg" alt="写真10">
        <p>ふとんに埋もれるぽんずくん</p>
      </div>
      <div class="item">
        <img src="../images/pon11.jpeg" alt="写真11">
        <p>寝返りを打つぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon12.jpeg" alt="写真12">
        <p>姪っ子をずっと見つめているぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon2.jpeg" alt="写真2">
        <p>外出しようとしたら、玄関前で邪魔してくるぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon14.PNG" alt="写真14">
        <p>急に起きて、びっくり顔のぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon15.PNG" alt="写真15">
        <p>あそぼーって言ってくるぽんちゃん</p>
      </div>
      <div class="item">
        <img src="../images/pon16.PNG" alt="写真16">
        <p>もはや魔女の宅急便のキキ</p>
      </div>
      <div class="item">
        <img src="../images/pon6.jpeg" alt="写真6">
        <p>写真撮られるのを嫌がるぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon5.jpeg" alt="写真5">
        <p>いつもの定位置</p>
      </div>
      <div class="item">
        <img src="../images/pon19.jpeg" alt="写真19">
        <p>定位置2</p>
      </div>
      <div class="item">
        <img src="../images/pon20.jpeg" alt="写真20">
        <p>チュールを欲しそうにするぽんず</p>
      </div>
      <div class="item">
        <img src="../images/pon21.jpeg" alt="写真21">
        <p>死んだふりするぽんず</p>
      </div>
    </div>
    <!-- wrapper grid end -->
    <!-- footer begin -->
    <footer>
      <ul>
        <li><a href="index.html">ぽんずん家（Home）</a></li>
        <li><a href="https://www.instagram.com/chikugram_/?hl=ja" target="_blank">Instagram</a></li>
        <li><a href="https://www.youtube.com/channel/UC4ZDNvKjkBGUSsFBLNvfm9w/featured" target="_blank">Youtubeチャンネル</a>
        </li>
        <li><a href="https://www.youtube.com/c/%E3%82%82%E3%81%A1%E3%81%BE%E3%82%8B%E6%97%A5%E8%A8%98/featured"
            target="_blank">もちまる日記</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
      <small>&copy;2021 PonJun</small>
    </footer>
    <!-- footer end -->
  </body>

</html>